{% load static %}
<nav class="navbar navbar-expand-lg navbar-light text-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <img src="{% static 'img/logo.png' %}" alt="{% static 'img/logo.png' %}" width="30px" height="30px">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown {% if 'ecommerceapp in request.path' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'ecommerceapp:allProdCat' %}">All Courses</a>
          {% for cat in links %}
          <a class="dropdown-item" href="{{ cat.get_url }}">{{ cat.name }}</a>
          {% endfor %}


          <div class="dropdown-divider"></div>
        </div>
      </li>
      {% if item_count > 0 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart"></i>({{ item_count }})</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0"action="{% url 'search_app:SearchResult' %}">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0 last-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
    {% if login %}
    hi

    {% else %}

    <a href="{% url 'login' %}" class="btn btn-info">Login</a>
    {% endif %}
  </div>

</nav>